header{
    background-color: #A8D5BA;
    color: #FFFFFF;
    display: flex;
    gap: 10px;
}

.main-tag{
    padding: 4px;
    margin: 20px;
    font-size: 18px;
}

body{
    background-color: #FAF9F5;
    color: #3D3D3D;
}