header{
    
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    margin: 0 auto;
    
    gap: 53px;
    
    background-color: #A8D5BA;
    color: #FFFFFF;
    display: flex;
    
}

.main-tag{
    padding: 4px;
    margin: 20px;
    font-size: 18px;
}

body{
    background-color: #FAF9F5;
    color: #3D3D3D;
    display: 'flex';
}